@import url('../../../../App.css');

.hero_fmodel_bg {
    background-image: url("../../../../assets/images/banners/network_hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 450px;
    margin-top: 5.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}