@import url('../../../../App.css');

.hero_phy_bg {
    background-image: url("../../../../assets/images/holistic/2.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    top: 15px;
    height: 365px;
    margin-top: 5.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
