@import url('../../../../App.css');

.discipline_hero_bg {
    background-image: url("../../../../assets/images/banners/dresscode_hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 450px;
    margin-top: 5.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}