@import url('../../../App.css');

.hero_chairman_bg {
    background-image: url("../../../assets/images/exploreffs/1.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    top: 15px;
    height: 365px;
    margin-top: 5.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
