:root {
    --primaryColor: #0B43BD;
    --primaryHover: #083296;
    --primaryLight: #EAF2FD;
    --whiteColor: #ffffff;
    --blueColor: #061D52;
    --secondaryColor: #D4AF37;
    --secondaryHover: #B88E18;
    --secondaryblueColor: #1254E8;
    --darkColor: #EBF3FC;
    --blackColor: #0f172a;
    --darkblueColor: #0A369D;
    --skyBlue: #38BDF8;
    --accentRed: #DC2626;
    --inputColor: #1f2937;
}
html, body {
  height: 100%;
  background-color: var(--blueColor);
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth {
  overscroll-behavior: none;
}

html {
  scroll-behavior: smooth;
}


